/*
====================  TABLE OF CONTENT  ====================
MOBILE PORTRAIT (no media query)
MOBILE LANDSCAPE
SMALL TABLET PORTRAIT (min-width: 768)
LARGE TABLET PORTRAIT (min-width: 1024)
SMALL TABLET LANDSCAPE (min-width: 1024)
DESKTOP/LAPTOP, LARGE TABLET LANDSCAPE (min-width: 1366)
*/

/* mobile first rules */
:root {
    --thumbSize: 50px;
    --thumbGap: 5px;
    --stripContHeight: calc(var(--thumbSize) + 22px);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    user-select: none;
    background-color: rgb(34, 33, 30);
}

body {
    font-family: Roboto;
    color: rgb(34, 33, 30);
}

h1 {
    font-size: 1.2rem;
}

.wrapper {
    width: 100%;
    margin: 0;
    padding: 10px;
    background-color: rgb(236, 236, 210);
}

/* carousel */
#carousel {
    width: 100%;
    margin: 14px 0;
    padding: 14px 0;
    display: grid;
    gap: 16px;
    justify-items: center;
    align-content: space-around;
}
/* end of carousel */

/* main picture */
#main-pic-cont {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 0 24px 6px rgba(0, 0, 0, 0.36);
    border-radius: 10px;
    position: relative;
    transition: all 0.5s ease-in-out;
}

#main-pic-cont img {
    height: 52vw;
    visibility: hidden;
}
/* end of main picture */

/* icons */
i {
    font-size: 22px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 20px rgb(0, 0, 0);
    cursor: pointer;
    position: absolute;
    opacity: 0.5;
    transition: all 0.3s ease-in-out;
}

i:hover {
    opacity: 0.9;
    transform: scale(1.1);
}

#left-arrow {
    top: calc(50% - 35px);
    left: 0;
    padding: 30px 30px 30px 10px;
}

#right-arrow {
    top: calc(50% - 35px);
    right: 0;
    padding: 30px 10px 30px 30px;
}

#expand,
#compress {
    bottom: -4px;
    right: -4px;
    padding: 16px;
}
/* end of icons */

/* strip */
#strip-cont {
    width: 90%;
    height: var(--stripContHeight);
    overflow: scroll;
    scroll-behavior: smooth;
    position: relative;
}

#strip {
    margin: auto;
    padding: 0 var(--thumbGap);
    position: absolute;
    top: calc((var(--stripContHeight) - var(--thumbSize)) / 2);
    display: grid;
    grid-auto-flow: column;
    gap: var(--thumbGap);
    transition: all 0.8s ease-in-out;
}

.thumb {
    width: var(--thumbSize);
    height: var(--thumbSize);
    background-size: cover;
    background-position: center;
    border-radius: calc(var(--thumbSize) / 6);
    opacity: 0.8;
    filter: brightness(80%) sepia(80%);
    box-shadow: none;
    transform: scale(1);
    z-index: 0;
    transition: all 0.5s ease-in-out;
}

.active-thumb {
    opacity: 1;
    filter: brightness(100%) sepia(0%);
    box-shadow: 0 0 calc(var(--thumbSize) / 10) rgba(0, 0, 0, 0.4);
    transform: scale(1.16);
    z-index: 1;
}
/* end of strip */

.hide {
    display: none !important;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/*
*****************************   NEW MEDIA QUERY   *****************************
*****************************   MOBILE LANDSCAPE   *****************************
*/
@media only screen and (orientation: landscape) {
    .wrapper {
        padding: 6px;
    }

    /* carousel */
    #carousel {
        padding: 10px 0;
        gap: 10px;
    }

    /* main picture */
    #main-pic-cont img {
        height: 62vh;
    }

    /* strip */
    #strip-cont {
        width: 68%;
    }
}

/*
*****************************   NEW MEDIA QUERY   *****************************
*****************************   SMALL TABLET PORTRAIT   *****************************
*/
@media only screen and (min-width: 768px) and (orientation: portrait) {
    :root {
        --thumbSize: 70px;
        --thumbGap: 6px;
        --stripContHeight: calc(var(--thumbSize) + 30px);
    }

    h1 {
        font-size: 1.6rem;
    }

    .wrapper {
        padding: 16px;
    }

    /* carousel */
    #carousel {
        margin: 16px 0;
        padding: 16px 0;
        gap: 20px;
    }

    /* main picture */
    #main-pic-cont {
        box-shadow: 0 0 34px 8px rgba(0, 0, 0, 0.36);
        border-radius: 16px;
    }

    /* icons */
    i {
        font-size: 28px;
    }

    #expand,
    #compress {
        padding: 20px;
    }

    /* strip */
    #strip-cont {
        width: 84%;
    }
}

/*
*****************************   NEW MEDIA QUERY   *****************************
*****************************   LARGE TABLET PORTRAIT   *****************************
*/
@media only screen and (min-width: 1024px) and (orientation: portrait) {
    :root {
        --thumbSize: 84px;
        --thumbGap: 8px;
        --stripContHeight: calc(var(--thumbSize) + 40px);
    }

    h1 {
        font-size: 2.2rem;
    }

    .wrapper {
        padding: 28px;
    }

    /* carousel */
    #carousel {
        margin: 28px 0;
        padding: 28px 0;
        gap: 40px;
    }

    /* main picture */
    #main-pic-cont {
        box-shadow: 0 0 42px 10px rgba(0, 0, 0, 0.36);
        border-radius: 24px;
    }

    /* icons */
    i {
        font-size: 40px;
    }

    #expand,
    #compress {
        padding: 30px;
    }
}

/*
*****************************   NEW MEDIA QUERY   *****************************
*****************************   SMALL TABLET LANDSCAPE   *****************************
*/
@media only screen and (min-width: 1024px) and (orientation: landscape) {
    :root {
        --thumbSize: 70px;
        --thumbGap: 6px;
        --stripContHeight: calc(var(--thumbSize) + 30px);
    }

    h1 {
        font-size: 1.6rem;
    }

    .wrapper {
        padding: 16px;
    }

    /* carousel */
    #carousel {
        margin: 16px 0;
        gap: 18px;
    }

    /* main picture */
    #main-pic-cont {
        box-shadow: 0 0 34px 8px rgba(0, 0, 0, 0.36);
        border-radius: 16px;
    }

    #main-pic-cont img {
        height: 70vh;
    }

    /* icons */
    i {
        font-size: 28px;
    }

    #expand,
    #compress {
        padding: 24px;
    }
}

/*
*****************************   NEW MEDIA QUERY   *****************************
*****************************   DESKTOP/LAPTOP   *****************************
*/
@media only screen and (min-width: 1366px) and (orientation: landscape) {
    :root {
        --thumbSize: 100px;
        --thumbGap: 10px;
        --stripContHeight: calc(var(--thumbSize) + 40px);
    }

    h1 {
        font-size: 2rem;
    }

    .wrapper {
        width: 90%;
        margin: 0 auto;
        padding: 30px 50px;
    }

    /* carousel */
    #carousel {
        margin: 20px 0;
        padding: 20px;
        gap: 30px;
    }
    /* end of carousel */

    /* main picture */
    #main-pic-cont {
        box-shadow: 0 0 40px 10px rgba(0, 0, 0, 0.36);
        border-radius: 20px;
    }

    #main-pic-cont img {
        height: 60vh;
    }
    /* end of main picture */

    /* icons */
    i {
        font-size: 34px;
    }

    #expand,
    #compress {
        padding: 30px;
    }
    /* end of icons */

    /* strip */
    #strip-cont {
        width: 80%;
    }
}
